#trwscheduler_wrap a {
  color: #00f; }

#trwscheduler_wrap div.box h3 {
  margin: 20px 0 5px 0; }

#trwscheduler_wrap pre {
  background: #000;
  padding: 10px;
  color: #ddd; }

#trwscheduler_wrap li {
  padding: 0 0 0 11px; }

#trwscheduler_wrap .taskoptions {
  border: 1px dashed #fff;
  padding: 5px; }
  #trwscheduler_wrap .taskoptions:hover {
    border-color: #999; }

#trwscheduler_wrap .manualrun {
  border: 1px dashed #f00;
  padding: 5px; }

#trwscheduler_wrap button {
  cursor: pointer;
  padding: 0; }

#trwscheduler_wrap th, #trwscheduler_wrap td {
  padding-right: 20px;
  border-bottom: 1px solid #ececec; }

#trwscheduler_wrap .text-center {
  text-align: center; }

#trwscheduler_wrap .text-left {
  text-align: left; }

#trwscheduler_wrap .none {
  display: none; }

#trwscheduler_wrap .show {
  display: block; }

#trwscheduler_wrap input[type="submit"].small {
  font-size: 8px; }

#trwscheduler_wrap .loader {
  display: inline-flex; }
  #trwscheduler_wrap .loader:before {
    content: '';
    box-sizing: border-box;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: loaderani .6s linear infinite; }

@keyframes loaderani {
  to {
    transform: rotate(360deg); } }
